.board-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.board-svg {
    max-height: 95vh;
    max-width: 95vw;
    width: min(95vh, 95vw);
    height: auto;
}

.file-label {
    font-size: 20px;
    fill: #ccc;
    font-family: sans-serif;
    text-anchor: middle;
    dominant-baseline: middle;
}

.rank-label {
    font-size: 20px;
    fill: #ccc;
    font-family: sans-serif;
    text-anchor: end;
    dominant-baseline: middle;
}
